@import 'scss/variables';

.contact-container {
    background-color: $color-2;
    padding: 2rem;
    display: flex;
    gap: 2rem;

    .contact__info {
        width: 50%;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 2rem 3rem;
        h4 {
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }

        h2 {
            font-size: 2.4rem;
            margin-bottom: 1.4rem;
        }

        p {
            font-size: 1.3rem;
            margin-bottom: 1rem;
        }
    }

    .contact__form {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        form {
            display: flex;
            flex-direction: column;
            input {  
                font-size: 1rem;
                font-weight: 700;
                margin-bottom: 2rem;
                padding: 1rem;
                background-color: $color-2;
                border: none;
                border-bottom: 2px white solid;
            }
            textarea {
                font-size: 1rem;
                font-weight: 700;
                resize: none;
                width: 100%;
                background-color: $color-2;
                border: none;
                padding: 1rem;
                border-bottom: 2px solid white;
                margin-bottom: 2rem;
            }

            button {
                width: fit-content;
                background-color: $color-2;
                margin-top: 2rem;
                font-size: 1rem;
                color: $color-1;
                border-radius: 25px;
                padding: 1rem 1.5rem;
                font-weight: 700;
                border: 2px solid $color-1;
                cursor: pointer;

                &:hover {
                    background-color: $color-1;
                    color: $color-2;
                }
            }
        }
    }
}



@media screen and (max-width: $breakpoint-lg) {


    .contact-container {
        
        .contact__info {
            padding: 2rem 1rem;
        }

    }
    
}

@media screen and (max-width: $breakpoint-md) {


    .contact-container {
        flex-direction: column;
        .contact__info {
            width: 100%;
        }

        .contact__form {
            width: 100%;
        }
    }
    
}

@media screen and (max-width: $breakpoint-sm) {
    
    .contact-container {

        .contact__form {
            form {
                textarea {
                    margin-bottom: 0;
                }
            }
        }
    }
    
}