@import 'scss/variables';

.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10000;
    border-bottom: 1px solid $color-1;

    .logo {
        color: $color-1;
        font-size: 2rem;
        margin: 1rem;
    }

    .menu {
        margin: 1rem;
        ul {
            list-style: none;
            display: flex;
            font-size: 1.5rem;
            a {
                text-decoration: none;
                margin: 1rem;
                color: $color-1; 
            }

            li:hover {
                background-color: $color-1;
                a {
                    color: white;
                }
            }
        }
    }
}