
.img-container {
    background-color: $color-2;
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 2rem;

    .img-item {
        border-radius: 8px;
        height: 300px;
        width: 33%; 
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}



@media screen and (max-width: $breakpoint-xl) {
    body {
        background-color: black;
    }
}


@media screen and (max-width: $breakpoint-lg) {
    body {
        background-color: yellow;
    }

    .img-container {
    
        .img-item {
            height: 250px;
        }
    }
    
}

@media screen and (max-width: $breakpoint-md) {
    
    body {
        background-color: blue;
    }

    .img-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .img-item {
            width: 80%;
            height: 250px;
        }
    }
    
}

@media screen and (max-width: $breakpoint-sm) {
    
    body {
        background-color: red;
    }

    .img-container {
        .img-item {
            width: 90%;
            height: 250px;
        }
    }
    
}